<% include partials/header.ejs %>
  <div>
    <form action="/text" method="post">
      <textarea class="intext" name="intext"></textarea>
      <input type="submit">
    </form>
  </div>
  <% include partials/footer.ejs %>
