<% include partials/header.ejs %>
  <h2>Enter text to be analyzed:</h2>
  <form action="/text" method="post">
    <div>
      <textarea class="intext" name="intext"></textarea>
    </div>
    <input type="submit">
  </form>
  <% include partials/footer.ejs %>
