<div>
  <h2>Statistics:</h2>
  <ul>
    <li>
      <strong>Word Count:</strong>
    </li>
    <li>
      <strong>Chaacter Count:</strong>
    </li>
    <li>
      <strong>without spaces:</strong>
    </li>
    <li>
      <strong>without punctuation:</strong>
    </li>
  </ul>
</div>

<div>
  <h2>Top five words:</h2>
  <ul>
    <li>
    </li>
  </ul>
</div>

<div>
  <h2>Five rarest words:</h2>
  <ul>
    <li>
    </li>
  </ul>
</div>

<div>
  <strong>Summary:</strong>
</div>

<div class="summary">
</div>
