body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEE;
}

a {
  color: #00B7FF;
}

.intext {
  width: 500px;
  height: 300px;
  margin-bottom: 16px;
}

.textin {
  display: none;
}

.summary {
  background-color: white;
  border: 1px solid #666;
  padding: 8px;
  margin-top: 8px;
}
